<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Cat, Dog, or HotDog? {% endblock %}</title>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/custom.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/custom.css">

    {% block javascript %}
    {% endblock %}
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Cat, Dog, or Hotdog?</h3>
    </div>
    {% block content %}{% endblock %}
  </div>
</body>
<footer>...</footer>